/* Remove left margin on whole page */
body {
    margin-left: 0%;
}

/* The header style */
header {
    text-align: center;
    margin-top: 5%;
}

/* Make buttons center aligned using flexbox based on total center of all button center */
#button {
    display: flex;
    justify-content: center;
}

.buttons {
    border-radius: 10px;
    padding: 5px 15px;
}

/* That part that you choice you wont to play */
.make-a-choice {
    text-align: center;
    clear: both;
}

#your-choice {
    float: left;
    margin-left: 30%;
}

#computer-choice {
    float: right;
    margin-right: 29%;
}


/* The photo for gameboard objects */
.photo {
    clear: both;
}

#photo1 {
    width: 25%;
    margin-left: 20%;
    border: 10px solid purple;
    float: left;
}

#photo2 {
    width: 25%;
    float: right;
    margin-right: 20%;
    border: 10px solid green;
}

/* Score board style */
#score {

   clear: both;
}

#pscore1 {
    float: left;
    margin-left: 30%;
}

#cscore1 {
    float: right;
    margin-right: 30%;
}

/* Footer */ 
footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > h3 {
    color: white;
    text-align: center;
}

footer > p {
    color: white;
    text-align: center
}


