/* The header */
header {
    text-align: center;
    margin-top: 5%;
}

/* That part that you choice you wont to play */
.make-a-choice {
    text-align: center;
}

#button {
    left: 44%;
    position: absolute;
}

.buttons {
    border-radius: 10px;
    padding: 5px 15px;
}

#wins {
    margin-top: 3%;
}

.your-score {
    z-index: 1;
    margin-left: 30%;
    position: absolute;
    color: white;
}

.computer-score {
    z-index: 1;
    margin-left: 63%;
    position: absolute;
    color: white;
}

/* The game photos */

#photo1 {
    width: 25%;
    margin-left: 20%;
    border: 10px solid purple;
    z-index: -1;
}

#photo2 {
    width: 25%;
    float: right;
    margin-right: 20%;
    border: 10px solid green;
    z-index: -1;
}

/* Footer */ 

footer {
    background-color: black;
}

footer > h3 {
    color: white;
    text-align: center;
}

footer > p {
    color: white;
    text-align: center
}